PORT=3000

# PostgreSQL (اختر أحد الخيارين)
# 1) رابط واحد:
# DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/invoice_db

# 2) متغيرات منفصلة:
PGHOST=localhost
PGPORT=5432
PGDATABASE=invoice_db
PGUSER=postgres
PGPASSWORD=change_me
PGSSL=false
# PGSSL_REJECT_UNAUTHORIZED=true

# Auth
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

